@charset "UTF-8";

/* main */
.content-main {
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
}

header.esquerda-main {
    width: 20%;
    height: 94vh;
    margin-right: 20px;
    flex-shrink: 0;
}

div.direita-main {
    width: 78%;
    height: 94vh;
    flex-shrink: 1;
    padding: 20px;
    background-color: var(--cor-fundo-content);
}

div.direita-main h1 {
    font-size: 1.5em;
}

div.direita-main hr {
    margin: 8px 0 2em 0;
}

#main > .main-content, #funcionarios > .main-content {
    display: flex;
    justify-content: space-between;
}

#pesquisar {
    background-color: var(--cor-botao-forte);
    align-self: flex-start;
    width: 250px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

#pesquisar:active {
    background-color: var(--cor-botao-forte-clicado);
}

div.main-pesquisa {
    background-color: rgba(0, 0, 0, 0.5);
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    z-index: 10;
}

div.main-pesquisa .pesquisa-btn {
    background-color: var(--cor-botao-forte);
    color: black;
    width: fit-content;
    font-size: 16px;
    margin: 0.5em 1em;
    padding: 2px 4px;
}

.funcionario-pesquisa, .main-pesquisa {
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 200px;
    gap: 8px;
}

.funcionario-pesquisa h4, .main-pesquisa h4 {
    background-color: var(--cor-botao-forte);
    color: black;
    text-align: center;
    padding: 15px 0;
}

.funcionario-pesquisa p {
    font-size: 12px;
    color: var(--cor-botao-discreto);
    text-align: center;
}

.funcionario-pesquisa form .fieldset {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 8px 0;
}

.funcionario-pesquisa form .fieldset input {
    height: 30px;
}


/* interações */

section#main, section#funcionarios, section#relatorios {
    width: 72%;
    position: absolute;
    opacity: 0;
    transition: all .5s;
}

section#main:target, section#funcionarios:target, section#relatorios:target {
    background-color: var(--cor-fundo-content);
    position: absolute;
    opacity: 1;
    z-index: 5;
}

/* fim interações */