@charset "UTF-8";

/* geral */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-fundo: #090716;
    --cor-fundo-content: #140F29;
    --cor-botao-discreto: #9788C8;
    --cor-textfield: #1F1151;
    --cor-botao-forte: #FFB20F;
    --cor-botao-forte-clicado: #9b6d0a;
}

body {
    height: 100vh;
    background-color: var(--cor-fundo);
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: white;
}

a {
    text-decoration: none;
    color: var(--cor-botao-discreto);
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: var(--cor-fundo);
}

input {
    background-color: var(--cor-textfield);
    border: none;
    color: rgba(255, 255, 255, 0.644);
    padding-left: 1em;
}

input:focus {
    outline: 3px solid var(--cor-fundo);
}

button {
    background-color: var(--cor-botao-forte);
    border: none;
    font-weight: bold;
    cursor: pointer;
}

button:active {
    background-color: var(--cor-botao-forte-clicado);
}

ul {
    list-style: '+ ' inside;
}

li {
    margin-bottom: 4px;
}

/* fim geral */
